.container {
  position: relative;
  width: 80%;
  height: 80%;
  border: 1px solid #bbb;
  .inputRef {
    position: absolute;
    display: none;
    top: 100%;
    left: 100%;
    width: 100px;
    height: 5%;
    text-align: center;
  }
  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
  .blockBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    .numBox {
      .btnBox {
        width: 44px;
        height: 44px;
        button {
          width: 44px;
          height: 44px;
          svg {
            width: 22px;
            height: 22px;
            transform: scale(2);
          }
        }
      }
      .inputBox {
        width: 100px;
        border-bottom: 2px solid #222;
        input {
          text-align: center;
          height: 40px;
          padding: 0;
        }
      }
    }
  }
  .btnBox {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
  }
  .alertBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #555;
  }
}
