.container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 7;
  width: 40px;
  height: 40px;
  cursor: pointer;
  path {
    fill: #f99a98;
  }
  &:hover {
    svg {
      filter: drop-shadow(0 0 10px #fff);
      path {
        fill: #edf998;
      }
    }
  }
}
